@font-face{
	font-family: LetterGothicStdBold;
	src: url("fonts/Quicksand_Book.otf");
}

*{
	margin: 0px;
	padding: 0px;
}
html{
	background-color: black;
}
body {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
canvas {
	margin: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
}
p {
	font: 12px sans-serif;
	float: left;
	display: inline-block;
}
.button{
	background-color: #00A;
	color: #09F;
	padding-top: 2px;
	font: 16px monospace;
	height: 20px;
	text-align: center;
	z-index: 1;
}
#startButton{
	position: absolute;
	width: 60px;
	display: inline-block;
}
#stateButton{
	width: 70px;
	display: none;
}
#stateButtonTwo {
	width: 85px;
	display: none;
}
#fps{
	position: absolute;
	top: 0px;
	left: 0px;
	color: white;
	z-index: 2;
}
.text {
	font-family: LetterGothicStdBold, monospace;
	font-size: 24px;
	line-height: 26px;
	position: relative;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 400px;
	z-index: 3;
	color: #FF0;
}