@font-face{
	font-family: AGL;
	src: url('AGL.otf');
}

@font-face{
	font-family: AGLI;
	src: url('AGLI.otf');
}

*{
	padding: 0px;
	margin: 0px;
}

html{
	background-color: black;
}

#main{
	padding: 10px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 580px;
	background-color: #FFFF73;
	color: black;
}

h1 {
	font: 3em AGL, "Lucida Sans Console", sans-serif;
}

h2{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: left;
	font: 1.5em AGLI;
	text-decoration: overline;
}

h3{
	font: 1.5em AGLI;
	display: inline-block;
	padding: 5px;
}

.entry{
	text-align: left;
	padding-top: 0px;
	line-height: 1.32em;

}

p {
	font: 1.5em AGL;
}

#about {
	display: none;
}

em{
	font: 1.05em AGLI;
}

img {
	width: 100%;
}

#ribbon {
	width: 149px;
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

ul{
	list-style-type: none;
	list-style-position: inside;
	padding: 10px;
	padding-left: 30px;
}

ul li{
	text-align: left;
	font: 1.2em AGLI;
}

ol{
	list-style-position: outside;
	padding: 10px;
	padding-left: 30px;
}

ol li{
	text-align: left;
	font: 1.2em AGLI;
}

a{
	color: #000;
	text-decoration: none;
	text-shadow: -1px 1px #FFF;
}

#codeLink{
	text-shadow: none;
}
a:hover{
	color: #FF0;
}

